# Twilio API credentials
# Found at https://www.twilio.com/console
TWILIO_ACCOUNT_SID=ACXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
TWILIO_AUTH_TOKEN=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

# Get your number at
# https://www.twilio.com/console/phone-numbers/incoming
TWILIO_CALLER_ID=you_twilio_number
